//Colors
$colors:(
    red: #ec3b57,
    pink: #E91E63,
    purple: #1f2f60,
    deep-purple: #673AB7,
    blue: #60bafd,
    cyan: #00cfd1,
    green: #50d38a,
    light-green: #8BC34A,
    yellow: #ffe821,
    orange: #ffc323,
    deep-orange: #f83600,
    grey: #9E9E9E,
    blue-grey: #607D8B,
    indigo: #3F51B5,
    light-blue: #03A9F4,
    teal: #009688,
    lime: #CDDC39,
    amber: #FFC107,
    brown: #795548,
    blush: #ff758e,
    black: #000000,
    white: #ffffff ) !default;
    
//Fonts Family
$navbar-font-family: 'Montserrat', sans-serif;
$sidebar-font-family: 'Montserrat', sans-serif;