body {
	margin:0px 2px;
	padding: 0px;
	font-size: 13.7px;
	background-color: #b9bfcd;
}
.less {
	font-weight: normal;
}
.align {
	text-align: center;
}
.header {
	width: 1170px;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px;
	border: 1px solid #fff;
	border-radius: 5px;
	background-color: #fff;
}
tr {
	height: 30px !important;
}
.bold {
	font-weight: bold;
}
.box-size {
	float:left;
	border:1px solid #000;
	width: 15px;
	height: 15px;
	margin-top: 5px;
	vertical-align: middle;
}
.box-content {
	float:left;
	margin: 2px 10px 0px 3px;
}
.head-gap {
	float:left;
	margin-right: 10px;
}
.heading-style {
	text-decoration: underline;
	padding: 20px 0px 20px 0px;
}
.padding_r: {
	padding-right: 0px !important;
}
.btn-primary {
color: #fff;
background-color: #1f2f60;
border-color: #1f2f60;
}
textarea {
	resize: none;
}
.avatar-upload {
  position: relative;
}
#imagePreview{
	background-image: url('../../images/dummy.jpg');
}
.avatar-upload .avatar-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  top: 10px;
}
.avatar-upload .avatar-edit input {
  display: none;
}
.avatar-upload .avatar-edit input + label {
  display: inline-block;
  width: 34px;
  margin-top: -10px;
  margin-right: -25px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #ffffff;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}
.avatar-upload .avatar-edit input + label:after {
  font-family: "FontAwesome";
  color: #757575;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}
.avatar-upload .avatar-preview {
  height: 130px;
  position: relative;
  border: 6px solid #f8f8f8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
/*  border-radius: 100%;*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}