.gap-m-bottom {
    margin-bottom: 20px !important;
}
.size {
    width: 100%;
}

.saveBtn 
{
	margin-top: 20px !important;
}
.cancelBtn{
	margin-top: 20px !important;
}
.card .body .table td {
	padding: 10px !important;
}
.m_top_gap {
	margin-top: 6.5px !important;
}

.m_top_button {
	margin-top:7px !important;
}

.form-gap1 {
	padding: 0px 20px 20px 20px;
}
.canvasjs-chart-credit {
	display: none !important;
}

.right_scroll::-webkit-scrollbar {
    background:#fff !important;
    width: 8px;
}

.right_scroll::-webkit-scrollbar-thumb {
    background: #c6c9d4 !important;
    border-radius: 3px;
}

.morelink:visited {
	color: #f96332;
}
.morelink {
	color: #f96332;
	text-decoration:none;
	outline: none;
}
.morecontent span {
	display: none;
}
.comment {
	width: 400px;
	margin: 10px;
}

.comment_notice {
	width: 800px;
	margin: 10px;
}

.select2{
	width:100% !important;   
   }

.message-right:after{
	right: 3% !important;
	left:auto !important;
}