.form-gap {
	padding: 20px;
}
.button-font {
	font-size: 16px !important;
}

.btn,
.navbar .navbar-nav>a.btn {
	font-size: 14px !important;
	border-radius: 5px;
}

.btn-round.btn-simple {
    /*padding: 9px 22px !important;*/
}
.btn-round {
	border-radius:  5px !important;
}
.input-group-addon{
	border-radius: 5px !important;

}

.navbar-nav>li>a {
    padding: 0px 12px !important;
    /*line-height: 60px*/
    margin-top: 20px;
}

.block-header h2 {
    margin: 8px !important;
    font-size: 20px;
}

.notify {
    position: absolute;
    top: 10px !important;
    right: 11px;
    margin-top: 20px;
}

.navbar {
	min-height: 60px !important;
}

.input-group-addon:not(:first-child){
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;

}

.theme-blush .btn-primary{
	margin-top: 1px ;
}

.fa-plus-circle 
{
	margin-top: 2px;
}

.theme-blush .sidebar .menu .list li.active {
    background-color: #f5f7f9 !important;
        color: #1f2f60 !important;
    border-left: 2px solid #1f2f60 !important;

}

#sectiontable-body .btn-primary {
	width: 100px !important; 
}

.input_fields_wrap .btn-danger {
	width: 100px !important;
	margin-left: 6px !important;
}
.sidebar .menu .list a {
    border-left: 0px solid transparent;
}
	/*
	.sidebar .menu .list a i {
	    width: 16px;
	    font-size: 15px;
	}*/

.form-control {
	border-radius: 5px !important;
}

.input-group .form-control:not(:last-child) {
	/*border: none !important;*/
	border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;

}
/*.navbar-nav.navbar-left .input-group .form-control:focus {*/
	/*border-right: none !important;*/
/*}*/
/*.input-group-addon:focus{*/
	    /*border: 1px solid red !important;*/
	/*border:none ;*/
/*}*/
input-group .form-control:first-child {
	border: none !important;
}

.checkbox label {
	    margin-bottom: 15px !important;
	    line-height: 20px !important;
}
.checkbox {
	margin-bottom: 0px !important;
}

.checkbox label::before, .checkbox label::after {
	width: 20px !important;
	height: 20px !important;
}
.form-group .form-control {
	padding: 14px 18px !important;
}
.bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="col-"]{
    padding: 0px !important;
}

/*.breadcrumb-item:nth-child(last-child)*/
/*.line li:not(:last-child){
	text-decoration: none !important;
}*/
.line ul li a:hover{
	text-decoration: none;	
}
.line ul li:last-child{
	text-decoration: underline!important;
}
td {
    padding: 5px 10px !important;
}

.btn.btn-icon {
	height: 21px !important;
}


element.style {
}
.fa-plus-circle,.fa-minus-circle {
	margin-top: 0px !important;
}

.nav_item8 {
	 width: 100% !important;
    /*margin-bottom: 20px !important;*/
    border-radius: 2px;
    min-height: 629px !important;
    height: 370px !important;
    border: 1px solid rgba(204, 204, 204, 0.5) !important;
}

.table-hover tbody tr:hover {
	background-color: unset !important;
}

.pi_1{
	padding: 0px !important;
}

/*.feecounterclass img {
	float: right !important;
	margin-right: -88px !important;
}*/

.feecountergap {
	margin-left: -170px;
    margin-top: 3px;
    font-size: 14px !important;
}
/*
.feecounterimg {
	margin-left: -15px !important;
}
*/
.nav-tabs>.nav-item>.nav-link.active{
	border-radius: 5px!important;
}

.nav-tabs{
	padding: 15px .0rem !important;
}

.blockheight {
	height: 100px!important;
}

.border_info_tabs_1 {
	border: none !important;
}

.card .body .table td, .cshelf1 {
	/*width: 0px !important;*/
}

.saveBtn{
	margin-top: 23px !important;
}
.cancelBtn{
	margin-top: 23px !important;
}


.modal-dialog {
	max-width: 800px !important;
}

select.form-control:not([size]):not([multiple]) {
	height: 41px;
}