/*===============================================
  admin form css
================================================*/
body{
    padding: 0px !important;
    margin: 0px !important;
}
.from_one1 {
    font-size: 15px !important;
    color: #888 !important;
    padding-bottom: 10px !important;
}

.image_form1 {
    padding: 10px 10px !important;
}

.text_area_desc {
    margin: 10px 0px !important;
}

.dropzone {
    min-height: 150px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    background: white;
    padding: 20px 20px;
    height: 250px;
}

.dropzone h3 {
    font-size: 15px !important;
}

#success_message {
    display: none;
}

.help-block {
    color: red;
}

.bootstrap-tagsinput .tag {
    background: #ff8ea2 !important;
    padding: 5px 5px;
    margin-bottom: 1px;
    display: block;
    float: left;
}

.bs-example {
    border: 1px solid #E3E3E3;
    border-radius: 40px;
}

.bootstrap-tagsinput {
    margin-left: 15px !important;
}


/********status button***********/

.dropbtn {
    background-color: #4bb5ff;
    color: white;
    padding: 6px 20px !important;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 3px !important;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #4bb5ff;
}

.dropdown {
    position: relative;
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0px !important;
    background-color: #f1f1f1;
    min-width: 140px;
    padding: 20px 10px !important;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
}

.deactive {
    color: #fff !important;
    font-size: 14px !important;
}

.edit_page {
    color: #fff !important;
    font-size: 14px !important;
}

.view_profile {
    color: #fff !important;
    font-size: 14px !important;
}

.deactive1 {
    color: #fff !important;
    font-size: 14px !important;
}

.active1 {
    color: #fff !important;
    font-size: 14px !important;
}

.edit_page1 {
    color: #fff !important;
    font-size: 14px !important;
}

.edit_page3 {
    padding: 6px 23px !important;
    color: #fff !important;
    font-size: 13px !important;
}

.view_profile1 {
    color: #fff !important;
    font-size: 14px !important;
}


/*.dropdown a:hover {background-color: #FF3636;}*/

.show {
    display: block;
}


/********status button***********/

.document_staff {
    padding-left: 38px;
    margin-right: 22px;
}

ul {
    margin: 0px;
    padding: 0px;
}

ul li {
    display: block;
}

.radio1 {
    width: 25px !important;
    height: 25px !important;
}


/**********search fields*/

.row_seach_field {
    margin-bottom: 20px !important;
    border: 1px solid #eceeef !important;
    height: 100px !important;
}

.row_seach_field2 {
    margin-bottom: 20px !important;
    border: 1px solid #eceeef !important;
    height: 90px !important;
}

.row_seach_field1 {
    margin-bottom: 20px !important;
    border: 1px solid #eceeef !important;
    height: 100% !important;
}

.student_details_search {
    margin-bottom: 10px !important;
    border: 1px solid #eceeef !important;
}

.input_gruop1 {
    margin-left: -32px !important;
}

.input_gruop7 {
    width: 124% !important;
}

.input_gruop10 {
    margin-left: -12px !important;
    width: 124% !important;
}

.input_gruop9 {
    margin-left: -24px !important;
    width: 124% !important;
}

.input_gruop8 {
    margin-top: 28px !important;
    width: 100% !important;
}

.input_gruop3 {
    margin-left: -22px !important;
}

.input_gruop4 {
    margin-left: -76px !important;
}

.input_gruop5 {
    margin-left: -134px !important;
}

.input_gruop6 {
    margin-left: -190px !important;
}

.input_gruop2 {
    margin-left: -45px !important;
}

.search_button {
    margin: 20px 0px !important;
    font-size: 14px !important;
    padding: 12px 35px !important;
}

.search_button1 {
    margin: 20px 0px !important;
    font-size: 14px !important;
    padding: 12px 35px !important;
}

.search_button2 {
    margin: 20px 0px !important;
    font-size: 14px !important;
    padding: 12px 35px !important;
}

.search_button3 {
    margin-left: 50px !important;
    margin: 20px 0px !important;
    font-size: 14px !important;
    padding: 12px 35px !important;
}

.search_button4 {
    margin-left: -50px !important;
    margin: 20px 0px !important;
    font-size: 14px !important;
    padding: 12px 35px !important;
}

.search_button5 {
    margin: 20px !important;
    font-size: 14px !important;
    padding: 12px 35px !important;
}

.search_button6 {
    margin: 26px 0px !important;
    font-size: 14px !important;
    padding: 12px 35px !important;
}

.search_button7 {
    margin: 10px !important;
    font-size: 14px !important;
    padding: 12px 35px !important;
}

.search_button8 {
    margin: 10px !important;
    font-size: 14px !important;
    padding: 12px 35px !important;
}

.search_button9 {
    margin: 20px -38px!important;
    font-size: 14px !important;
    padding: 12px 35px !important;
}

.search_button10 {
    margin: 20px -13px !important;
    font-size: 14px !important;
    padding: 12px 35px !important;
}

.search_button11 {
    margin: 20px 0px !important;
    font-size: 14px !important;
    padding: 12px 10px !important;
}

.search_button12 {
    margin: 20px -16px !important;
    font-size: 14px !important;
    padding: 12px 10px !important;
}

.search_button13 {
    margin: 20px -45px !important;
    font-size: 14px !important;
    padding: 12px 10px !important;
}

.search_button14 {
    margin: 20px -45px !important;
    font-size: 14px !important;
    padding: 12px 10px !important;
}

.search_button15 {
    margin: 20px -67px !important;
    font-size: 14px !important;
    padding: 12px 10px !important;
}

.search_button16 {
    margin: 20px !important;
    font-size: 14px !important;
    padding: 12px 20px !important;
}

.search_button17 {
    margin: 20px -13px !important;
    font-size: 14px !important;
    padding: 10px 35px !important;
}

.search_button18 {
    margin: 27px 0px !important;
    font-size: 14px !important;
    padding: 12px 35px !important;
}

.search_button19 {
    margin: 20px 0px !important;
    font-size: 14px !important;
    margin: 10px 0px !important;
    padding: 9px 35px !important;
}

.search_button20 {
    margin-left: 50px !important;
    margin: 10px 0px !important;
    font-size: 14px !important;
    padding: 9px 35px !important;
}

.select_form2 {
    z-index: 999999 !important;
}

.select_form1 {
    z-index: 999999 !important;
}


/*********check box*********/

.checkbox1 {
    width: 20px !important;
    height: 20px !important;
    margin-left: 0px !important;
}

.checkbox2 {
    width: 20px !important;
    height: 20px !important;
    margin-top: 20px !important;
}

.select_check {
    position: relative;
    top: -6px !important;
}

.Enroll {
    width: 140% !important;
}

.Name_class_level {
    width: 140% !important;
}

.class_section {
    width: 140% !important;
}

.search_school_level {
    margin: 20px 10px !important;
    font-size: 14px !important;
    padding: 12px 35px !important;
}

.search_school_level1 {
    margin-top: 10 !important;
    font-size: 14px !important;
    padding: 12px 35px !important;
}

.t_head_table {
    border: 1px solid #eceeef !important;
}

.t_head_table1 {
    width: 150px !important;
    height: 40px !important;
    text-align: center;
    padding: 10px 20px;
    border: 1px solid #ccc !important;
}

.filter_class_section {
    margin-top: 22px !important;
}

.temp_view_button {
    color: #ccc !important;
}

.temp_view_button a {
    color: #fff !important;
    text-decoration: none !important;
}

.nav-tabs>.nav-item>.nav-link {
    color: red;
    color: #888;
    margin: 0;
    margin-right: 5px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 30px;
    font-size: 12px;
    padding: 10px 15px;
}

.active2 {
    color: #424242 !important;
    font-size: 12px !important;
}

.active2:hover {
    color: #fff !important;
    background-color: #1f2f60 !important;
    transition-duration: 2s;
    font-size: 12px !important;
}

.search_form1 {
    margin-bottom: -30px !important;
}

.list_dropdown1 {
    z-index: 999999 !important;
}

.dairy_remarks_date {
    padding: 10px 20px !important;
}

.check_box1 {
    margin-top: 30px !important;
}

.row_thead {
    border: 1px solid #eceeef !important;
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    vertical-align: -5px !important;
    padding-left: -34px;
    text-align: left;
}

.staff_attendence1 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    margin-bottom: 5px;
}

.staff_attendence1 span {
    padding-left: 26px;
    font-size: 14px !important;
    font-weight: 800px !important;
}

.staff_attendence2 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: green;
    margin-bottom: 5px;
}

.staff_attendence2 span {
    padding-left: 26px;
    font-size: 14px !important;
    font-weight: 800px !important;
}

.divider_row1 {
    height: 100% !important;
    width: 100% !important;
    padding: 10px 10px !important;
}

.divider_row2 {
    height: 100% !important;
    width: 100% !important;
    padding: 16px 10px !important;
    border: 1px solid #eceeef !important;
}

.header1 {
    color: #424242 !important;
    padding-left: 16px;
    padding-top: 14px;
}

.error {
    font-size: 13px !important;
    color: red !important;
}

#from_group1 {
    margin: -10px !important;
}

.social_down1 {
    margin-top: 110px !important;
}

.social_down2 {
    margin-top: 50px !important;
}

.table-responsive::-webkit-scrollbar {
    width: px !important;
    height: 5px !important;
}

.table-responsive::-webkit-scrollbar-track {
    background: #ccc;
    width: 1px !important;
    height: 5px !important;
    border-radius: 10px;
}

.table-responsive::-webkit-scrollbar-thumb {
    background-color: #4bb5ff;
    outline: 1px solid #4bb5ff;
    width: 1px !important;
    height: 5px !important;
    border-radius: 10px;
}

.block .add {
    border-radius: 100%;
    background: green !important;
    outline: none;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    height: 30px;
    width: 30px;
    text-align: center;
    padding-bottom: 5px;
    border: 0px;
    /* margin-right: 100px; */
    margin-top: 0;
    float: right !important;
    position: absolute;
    right: -34px;
    top: 5px;
}

.block .remove {
    border-radius: 100%;
    background: red !important;
    outline: none;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    height: 30px;
    width: 30px;
    text-align: center;
    padding-bottom: 5px;
    border: 0px;
    margin-top: -35px;
    float: right !important;
    margin-right: -49px;
}

.multi-field {
    margin-bottom: 5px;
    width: 80% !important;
}

.select_margin {
    width: 100% !important;
    margin-bottom: 5px;
}

.bootstrap-select {
    padding: 0px !important;
    margin-bottom: 5px;
}

.week_graphs {
    width: 100%;
    height: 100%;
}

.present_dots {
    width: 20px;
    height: 20px;
    float: left;
    border-radius: 100%;
    background-color: red;
}

.present_dots span {
    font-size: 13px;
    font-weight: 600;
    padding-left: 22px;
}

.absent_dots {
    width: 20px;
    height: 20px;
    float: left;
    margin-left: 70px;
    border-radius: 100%;
    background-color: green;
}

.absent_dots span {
    font-size: 13px;
    font-weight: 600;
    padding-left: 24px;
}

.chat-launcher {
    display: none !important;
}


/*===============================================
  admin form css 25/7/2018
================================================*/

/*.sidebar .menu .list a:hover span {
    color: #1f2f60 !important;
}*/
.sidebar .menu .list li:hover {
    border-left: 2px solid #1f2f60;
    color: #1f2f60 !important;
}
.sidebar .menu .list li:active {
    
    color: #1f2f60 !important;
}
.sidebar .menu .list a span {
    margin: 0 0 0 0px;
    font-size: 13px !important;
    font-weight: bold;
    /*color: #555555!important;*/
}

.sidebar .menu .list a i {
    width: 16px;
    font-size: 15px;
}

.sidebar .menu .list a {
    color: #000;
    position: relative;
    padding: 0px 0px;
}

.sidebar .menu .list .ml-menu li a {
    padding-left: 40px;
    padding-top: 5px;
    font-size: 13px;
    padding-bottom: 5px;
}

.sidebar .menu .list .ml-menu li a:before {
    content: '\f30f';
    position: absolute;
    left: 14px;
    font-size: 12px;
    font-family: 'Material-Design-Iconic-Font';
    color: #999;
    top: 6px;
}


/*===============================================
  admin form css 26/7/2018
================================================*/

.search_button21 {
    margin: 6px 0px !important;
    font-size: 14px !important;
    padding: 9px 35px !important;
}

.select_form3 {
    z-index: inherit !important;
}


/*===============================================
  admin form css 27/7/2018
================================================*/

.input_gruop11 {
    margin-top: 10px !important;
    width: 110% !important;
    margin-left: -10px;
}

.search_school_level3 {
    margin: 2px -6px !important;
    font-size: 14px !important;
    padding: 9px 35px !important;
}


/*===============================================
  admin form css 30/7/2018
================================================*/

.input_gruop12 {
    margin-top: 7px;
    margin-left: -11px !important;
}

.input_gruop13 {
    margin-top: 23px;
    margin-left: -11px !important;
}

.row_seach_field3 {
    margin-bottom: 20px !important;
    border: 1px solid #eceeef !important;
    height: 100px !important;
}

.search_school_level4 {
    margin: 28px -8px !important;
    font-size: 14px !important;
    padding: 9px 35px !important;
}

.search_school_level5 {
    margin: 5px 10px !important;
    font-size: 14px !important;
    padding: 7px 30px !important;
}

.filter_class_section1 {
    margin-top: 7px !important;
}

.profile_detail_1 {
    padding: 12px 0px;
    position: relative;
    top: -8px;
}

.profile_detail_icon_1 {
    position: absolute;
    left: 20px;
    font-size: 18px;
}

.profile_detail_bold_1 {
    position: absolute;
    left: 40px;
}

.profile_detail_span_1 {
    font-weight: 500;
    position: absolute;
    left: 95px;
}

.profile_detail_span_2 {
    font-weight: 500;
    position: absolute;
    left: 107px;
}

.profile_detail_span_3 {
    font-weight: 500;
    position: absolute;
    left: 86px;
}

.profile_detail_span_4 {
    font-weight: 500;
    position: absolute;
    left: 141px;
}

.profile_detail_span_5 {
    font-weight: 500;
    position: absolute;
    left: 90px;
}

.personal_info_1 {
    padding: 2px 0px !important;
}

.personal_info_icon_1 {
    font-size: 18px;
}

.personal_info_bold_1 {
    position: absolute;
    left: 42px;
}

.personal_info_span_1 {
    font-weight: 500;
    position: absolute;
    left: 111px;
}

.personal_info_span_2 {
    font-weight: 500;
    position: absolute;
    left: 97px;
}

.personal_info_span_3 {
    font-weight: 500;
    position: absolute;
    left: 94px;
}

.personal_info_span_4 {
    font-weight: 500;
    position: absolute;
    left: 130px;
}

.personal_info_span_5 {
    font-weight: 500;
    position: absolute;
    left: 84px;
}

.personal_info_span_6 {
    font-weight: 500;
    position: absolute;
    left: 144px;
}

.personal_info_span_7 {
    font-weight: 500;
    position: absolute;
    left: 100px;
}

.personal_info_span_8 {
    font-weight: 500;
    position: absolute;
    left: 111px;
}

.personal_info_span_9 {
    font-weight: 500;
    position: absolute;
    left: 87px;
}

.personal_info_span_10 {
    font-weight: 500;
    position: absolute;
    left: 104px;
}

.personal_info_span_11 {
    font-weight: 500;
    position: absolute;
    left: 120px;
}

.personal_info_span_12 {
    font-weight: 500;
    position: absolute;
    left: 136px;
}

.personal_info_span_13 {
    font-weight: 500;
    position: absolute;
    left: 132px;
}

.personal_info_span_14 {
    font-weight: 500;
    position: absolute;
    left: 185px;
}

.parent_info_1 {
    width: 100%;
    height: auto;
}

.parent_father_info_1 {
    float: left;
    border: 0px solid #333;
    width: 100%;
    padding: 10px 0px;
}

.parent_info_div_1 {
    padding: 2px 0px;
    position: relative;
}

.parent_info_div_bold_1 {
    position: absolute;
    left: 20px;
}

.parent_info_div_span_1 {
    font-weight: 500;
    position: absolute;
    left: 111px;
}

.parent_info_div_span_2 {
    font-weight: 500;
    position: absolute;
    left: 172px;
}

.parent_info_div_span_3 {
    font-weight: 500;
    position: absolute;
    left: 163px;
}

.parent_info_div_span_4 {
    font-weight: 500;
    position: absolute;
    left: 160px;
}

.parent_info_div_span_5 {
    font-weight: 500;
    position: absolute;
    left: 156px;
}

.parent_info_div_span_6 {
    font-weight: 500;
    position: absolute;
    left: 116px;
}

.parent_mother_info_1 {
    float: left;
    margin-top: -18px;
    border: 0px solid #333;
    width: 100%;
    padding: 10px 0px;
}

.parent_info_div_span_7 {
    font-weight: 500;
    position: absolute;
    left: 175px;
}

.parent_info_div_span_8 {
    font-weight: 500;
    position: absolute;
    left: 168px;
}

.parent_info_div_span_9 {
    font-weight: 500;
    position: absolute;
    left: 165px;
}

.parent_info_div_span_10 {
    font-weight: 500;
    position: absolute;
    left: 159px;
}

.parent_guardian_info_1 {
    float: left;
    border: 0px solid #333;
    width: 400px;
    margin-top: -18px;
    padding: 10px 0px;
}

.parent_info_div_span_11 {
    font-weight: 500;
    position: absolute;
    left: 127px;
}

.parent_info_div_span_12 {
    font-weight: 500;
    position: absolute;
    left: 187px;
}

.parent_info_div_span_13 {
    font-weight: 500;
    position: absolute;
    left: 179px;
}

.parent_address_info_1 {
    width: 100%;
    height: auto;
}

.parent_address_temparay_info_1 {
    float: left;
    margin-top: -18px;
    border: 0px solid #333;
    width: 100%;
    padding: 10px 0px;
}

.parent_info_div_span_14 {
    font-weight: 500;
    position: absolute;
    left: 83px;
}

.parent_info_div_span_15 {
    font-weight: 500;
    position: absolute;
    left: 56px;
}

.parent_info_div_span_16 {
    font-weight: 500;
    position: absolute;
    left: 63px;
}

.parent_info_div_span_17 {
    font-weight: 500;
    position: absolute;
    left: 82px;
}

.parent_info_div_span_18 {
    font-weight: 500;
    position: absolute;
    left: 83px;
}

.parent_info_div_span_19 {
    font-weight: 500;
    position: absolute;
    left: 56px;
}

.parent_info_div_span_20 {
    font-weight: 500;
    position: absolute;
    left: 63px;
}

.parent_info_div_span_21 {
    font-weight: 500;
    position: absolute;
    left: 82px;
}

.parent_info_div_span_22 {
    font-weight: 500;
    position: absolute;
    left: 71px;
}

.parent_info_div_span_23 {
    font-weight: 500;
    position: absolute;
    left: 76px;
}

.parent_info_div_span_24 {
    font-weight: 500;
    position: absolute;
    left: 109px;
}

.parent_info_div_span_25 {
    font-weight: 500;
    position: absolute;
    left: 105px;
}

.parent_info_div_span_26 {
    font-weight: 500;
    position: absolute;
    left: 96px;
}

.parent_info_div_span_27 {
    font-weight: 500;
    position: absolute;
    left: 114px;
}

.parent_info_div_span_28 {
    font-weight: 500;
    position: absolute;
    left: 128px;
}

.parent_info_div_span_29 {
    font-weight: 500;
    position: absolute;
    left: 109px;
}

.parent_info_div_span_30 {
    font-weight: 500;
    position: absolute;
    left: 119px;
}

.parent_info_div_span_31 {
    font-weight: 500;
    position: absolute;
    left: 112px;
}

.parent_info_div_span_32 {
    font-weight: 500;
    position: absolute;
    left: 129px;
}

.parent_info_div_span_33 {
    font-weight: 500;
    position: absolute;
    left: 114px;
}

.parent_info_div_span_34 {
    font-weight: 500;
    position: absolute;
    left: 129px;
}

.menu_tabs_info {
    border-bottom: 2px solid #888;
    background-color: rgba(193, 202, 208, 0.32);
    margin-bottom: 5px !important;
}

.border_info_tabs_1 {
    border: 1px solid #eee ;
}

.fc-bg tr td:first-child {
    background: red !important;
    color: white !important;
}

.fc-bg tr td:nth-child(5) {
    background: green !important;
    color: white !important;
}

.fc-bg tr td:nth-child(3) {
    background: yellow !important;
    color: white !important;
}

.fees_details_table_1 {
    border: 1px solid #eceeef;
    margin-top: 17px;
}

.fees_details_table_2 {
    border: 1px solid #eceeef;
    margin-top: 10px;
}

.fees_details_table_record_1 {
    color: #333;
    padding-top: 10px;
    padding-left: 10px;
}

.parent_academin_certif {
    color: #333;
    padding-top: 10px;
    padding-left: 10px;
}

.table thead th {
    font-size: 14px;
    font-weight: 600 !important;
    vertical-align: bottom;
    border-bottom: 2px solid #eceeef;
}

.table td {
    padding: .75rem;
    font-size: 12.8px;
    vertical-align: top;
    border-top: 1px solid #eceeef;
}


/*===============================================
  admin form css 31/7/2018
================================================*/

.parent_info_model_1 {
    width: 100%;
    float: left;
}

.parent_mother_info_2 {
    float: left;
    border: 0px solid #333;
    margin-top: -20px !important;
    width: 100%;
    padding: 10px 0px;
}

.parent_info_model_2 {
    width: 100%;
    float: left;
    margin-top: -26px;
}

.header_model_1 {
    height: 50px;
    position: relative;
    top: 19px;
    left: 20px;
}

.parent_info_model_3 {
    width: 100%;
    float: left;
    margin-top: -26px;
}

.remove_cross_x_1 {
    float: right !important;
    margin-top: -34px !important;
}

.header_model_2 {
    border-bottom: 1px solid #eceeef !important;
}

.zmdi_close1 {
    position: absolute !important;
    font-size: 18px;
    color: #757575 !important;
}

.button_1 {
    position: relative !important;
    width: 10px;
    background-color: #fff !important;
    height: 10px;
    margin-right: 10px;
    background-color: #fff !important;
}

.button_1:hover {
    box-shadow: none !important;
    outline: none;
}

.button_1:focus {
    box-shadow: none !important;
    outline: none;
}


/*===============================================
  admin form css 1/8/2018
================================================*/

.filter_class_section2 {
    margin-top: 8px !important;
}

.search_button22 {
    margin: 8px -13px !important;
    font-size: 14px !important;
    padding: 9px 30px !important;
}


/*===============================================
  admin form css 2/8/2018
================================================*/

.view_profile3 {
    padding: 8px 15px;
    color: #fff !important;
    font-size: 12px !important;
}

.profile_detail_icon_2 {
    font-size: 14px;
    margin-top: 3px;
    margin-right: 5px !important;
    float: left !important;
}

.profile_detail_bold_2 {
    font-size: 14px;
    font-weight: 600;
    margin-left: 5px !important;
    float: left !important;
}

.profile_detail_span_6 {
    margin-left: 12px !important;
    font-size: 14px;
    float: left !important;
}

.profile_detail_2 {
    float: left !important;
    height: 20px !important;
    width: 100% !important;
    margin-bottom: 5px;
}

.search_button23 {
    margin: 8px 0px !important;
    font-size: 14px !important;
    padding: 10px 30px !important;
}

.search_button23 a {
    color: #fff !important;
}

.input_gruop14 {
    margin-top: 10px !important;
    width: 100% !important;
}


/*===============================================
  admin form css 3/8/2018
================================================*/

.filter_class_section3 {
    margin-top: 10px !important;
}

.input_gruop15 {
    margin-top: 7px !important;
}

.present_dots1 {
    width: 20px;
    height: 20px;
    float: left;
    border-radius: 100%;
    background-color: green;
}

.present_dots1 span {
    font-size: 13px;
    font-weight: 600;
    padding-left: 22px;
}

.absent_dots1 {
    width: 20px;
    height: 20px;
    float: left;
    margin-left: 0px !important;
    border-radius: 100%;
    background-color: red;
}

.absent_dots1 span {
    font-size: 13px;
    font-weight: 600;
    padding-left: 24px;
}

.modal_footer1 {
    margin-top: -50px !important;
}

.input_gruop16 {
    margin-top: 8px !important;
}

.largeModalLabel_hr1 {
    border: 1px solid #eceeef !important;
}


/*===============================================
  admin form css 6/8/2018
================================================*/

.facilities_check_box1 {
    height: 40px;
    width: 100% !important;
}

.check_box2 {
    float: left;
}


/*===============================================
  admin form css 7/8/2018
================================================*/


/*===============================================
  admin form css 8/8/2018
================================================*/

.search_button24 {
    margin: 6px -40px !important;
    font-size: 14px !important;
    padding: 9px 35px !important;
}

.search_button25 {
    margin: 8px 26px !important;
    font-size: 14px !important;
    padding: 10px 30px !important;
}

.search_button26 {
    margin: 8px 0px !important;
    font-size: 14px !important;
    padding: 10px 30px !important;
}

.remove_cross_x_2 {
    float: right !important;
    margin-top: -51px !important;
}

.card {
    background: #fff;
    margin-bottom: 0px;
    transition: .5s;
    border: 0;
    border-radius: .1875rem;
    display: inline-block;
    position: relative;
    width: 100%;
    box-shadow: none;
}

.view_parent_detail1 {
    margin-top: 35px;
}


/*===============================================
  admin form css 9/8/2018
================================================*/

.checkbox_1 {
    margin-bottom: 10px;
}

.send_messsage_button1 {
    width: 70% !important;
    margin: auto;
}

.search_button27 {
    margin: 8px 0px !important;
    font-size: 14px !important;
    padding: 10px 10px !important;
}

.dairy_red_button {
    margin-right: 5px !important;
    margin-top: -10px;
}

.leave_app_red_button {
    margin-top: 20px !important;
}

.dropdown {
    float: left;
    display: block !important;
    margin-right: 3px !important;
}

.col-black {
    padding: 0 !important;
}

.dropdown.show {
    border: none;
    cursor: pointer;
    float: left;
}

.dropdown-menu.dropdown-menu-right:before {
    display: none !important;
}


/*===============================================
  admin form css 10/8/2018
================================================*/

.material_icons1 {
    margin-top: 10px;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

#min_height_1 {
    height: 500px !important;
}

.fa-plus-circle,
.fa-minus-circle {
    font-size: 20px;
    margin-top: 9px;
}


/*.active3 {
    color: #888 !important;
    font-size: 14px !important;
    font-weight: 500;
    border: 1px solid rgba(204, 204, 204, 0.48);
    padding: 9px 10px !important;
}
.active3:hover{
    color: #fff !important;
    background-color: #1f2f60 !important;
    font-size: 14px !important;
    padding: 9px 10px !important;
}*/

.card_alignment1 {
    background-color: #ccc !important;
}

.ul_underline_1 {
    margin: 0px;
    padding: 0px;
    position: relative !important;
}


/*===============================================
  admin form css 11/8/2018
================================================*/

.parent_address_temparay_info_1 h6 {
    font-size: 1em;
    padding-top: 1px;
    margin-top: 5px !important;
    font-weight: 500;
    text-transform: uppercase;
}

.pi_1 {
    float: left;
    border: 0px solid #333;
    width: 100%;
    padding: 10px 0px;
}

.pi_1 h6 {
    font-size: 1em;
    margin-top: -5px !important;
    font-weight: 500;
    text-transform: uppercase;
}

.nav_item1 a {
    width: 100%;
    background-color: #1f2f60;
    margin-top: 0px;
    height: 35px;
    font-size: 14px;
    padding-top: 7px !important;
    color: #fff !important;
    border-radius: 2px;
    padding: 3px 10px;
}

.zmdi_zmdi1 {
    padding-right: 5px !important;
}

.nav_item3 {
    width: 100% !important;
    /*margin-bottom: 20px !important;*/
    min-height: 240px !important;
    height: 240px !important;
    border: 1px solid rgba(204, 204, 204, 0.5) !important;
    border-radius: 2px;
    /*padding: 5px 2px !important;*/
}

.nav_item7 {
    width: 100% !important;
    /*margin-bottom: 20px !important;*/
    min-height: 210px !important;
    height: 210px !important;
    border: 1px solid rgba(204, 204, 204, 0.5) !important;
    border-radius: 2px;
    /*padding: 5px 2px !important;*/
}

.nav_item4 {
    width: 100% !important;
    /*margin-bottom: 20px !important;*/
    border-radius: 2px;
    /*min-height: 400px !important;*/
    height: 350px !important;
    border: 1px solid rgba(204, 204, 204, 0.5) !important;
    /*padding: 5px 2px !important;*/
}

.nav_item2 {
    margin: 0;
    margin-right: 5px;
    width: 100%;
    height: auto !important;
    background-color: transparent;
    font-size: 14px;
    padding: 10px 15px;
}

.parent_father_info_1 h6 {
    font-size: 1em;
    padding-top: 1px;
    margin-top: -5px !important;
    font-weight: 500;
    text-transform: uppercase;
}

.nav_item5 {
    width: 100% !important;
    /*margin-bottom: 20px !important;*/
    /*min-height: 190px !important;*/
    border-radius: 2px;
    border: 1px solid rgba(204, 204, 204, 0.5) !important;
    /*padding: 5px 2px !important;*/
}

.parent_mother_info_1 h6 {
    font-size: 1em;
    padding-top: 1px;
    margin-top: 10px !important;
    font-weight: 500;
    text-transform: uppercase;
}

.parent_guardian_info_1 h6 {
    font-size: 1em;
    padding-top: 1px;
    margin-top: 10px !important;
    font-weight: 500;
    text-transform: uppercase;
}

.nav_item6 {
    width: 100% !important;
    margin-bottom: 20px !important;
    min-height: 150px !important;
    border-radius: 2px;
    border: 1px solid rgba(204, 204, 204, 0.5) !important;
    padding: 5px 2px !important;
}

.fees_details_table_record_1 h6 {
    font-size: 1em;
    padding-top: 1px;
    margin-top: 10px !important;
    font-weight: 500;
    text-transform: uppercase;
}

.fees_details_table_record_1 h6,
strong {
    font-size: 1em;
    padding-top: 1px;
    margin-top: 10px !important;
    color: #1f2f60 !important;
    font-weight: 800;
    text-transform: uppercase;
}

.parent_academin_certif h6 {
    font-size: 1em;
    padding-top: 1px;
    margin-top: 10px !important;
    font-weight: 500;
    text-transform: uppercase;
}

.std1 {
    float: left;
    padding: 15px 0px;
}

.std2 {
    float: left;
    margin-left: 0px !important;
    padding: 15px 0px;
}

.ul_underline_1 .active {
    background-color: #1f2f60;
    color: #fff !important;
}

.profile_image {
    max-width: 160px !important;
    max-height: 160px !important;
    height: 100% !important;
    width: 100% !important;
    height: 160px !important;
    box-shadow: 0px 1px 5px 0px grey;
    width: 160px !important;
    border-radius: 100%;
    border: 3px solid #ccc;
}

.parent_address_temparay_info_1 hr {
    display: none !important;
}

.parent_father_info_1 hr {
    display: none !important;
}

.parent_mother_info_1 hr {
    display: none !important;
}

.parent_guardian_info_1 hr {
    display: none !important;
}

.profile_card1 {
    margin-bottom: 17px;
}

.testingpadding {
    padding-top: 22px !important;
}

.ti1 {
    margin-bottom: -27px !important;
}

.header_model_3 {
    height: 50px;
    position: relative;
    top: 19px;
    left: 5px;
}

.ti2 {
    margin: 0px !important;
}


/*===============================================
  admin form css 13/8/2018
================================================*/

.contact .c_list tr td .btn {
    margin: -7px 0px !important;
}

.ul_underline_1 .nav-link li a {
    text-align: center;
}

.fees_nav1 .nav-link li a {
    font-size: 14px !important;
}

.ul_underline_1 .nav-link i {
    padding-bottom: 10px;
    display: block !important;
    text-align: center !important;
}

.ui_marks1 {
    position: absolute;
    height: 10px;
    width: 10px;
    top: 40px;
    left: 142px;
    z-index: 999999 !important;
    margin-top: -13px;
    border-left: 0;
    border-bottom: 13px solid transparent;
    border-top: 13px solid transparent;
    border-left: 12px solid #1f2f60;
}


/*.tab1{
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
}*/

.search_button28 {
    margin: 8px 0px !important;
    font-size: 14px !important;
    padding: 10px 10px !important;
}

.fees_nav1 {
    padding: 0px !important;
}

.profile_detail_3 {
    height: 20px !important;
    margin-bottom: 10px !important;
    width: 100% !important;
    text-align: left;
}

.nav-tabs>.nav-item>.nav-link {
    color: red;
    color: grey;
    width: 190px;
    margin: 0;
    /*margin-right: 5px;*/
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px 15px;
}

.nav-tabs>.nav-item>.nav-link i {
    font-size: 20px !important;
}


/*===============================================
  admin form css 14/8/2018
================================================*/

.pro_body_center1 {
    background-color: #f1f1f1 !important;
}

.panel-group .panel .panel-title {
    font-weight: normal;
    font-size: 16px;
    margin: 0px !important;
    background-color: #6472b8;
    color: #fff;
}

body {
    color: #6a6c6f;
    background-color: #f1f3f6;
    margin-top: 30px;
}

.container {
    max-width: 960px;
}

.panel-default>.panel-heading {
    color: #333;
    background-color: #fff;
    border-color: #e4e5e7;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.panel-default>.panel-heading a {
    display: block;
    padding: 10px 15px;
}

.panel-default>.panel-heading a:after {
    content: "";
    position: relative;
    top: 12px !important;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 600 !important;
    line-height: 0;
    font-size: 34px !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    float: right;
    transition: transform .25s linear;
    -webkit-transition: -webkit-transform .25s linear;
}


/*.panel-default>.panel-heading a[aria-expanded="true"] {
  background-color: #eee;
}*/

.panel-default>.panel-heading a[aria-expanded="true"]:after {
    content: "\2212";
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.panel-default>.panel-heading a[aria-expanded="false"]:after {
    content: "\002b";
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.accordion-option {
    width: 100%;
    float: left;
    clear: both;
    margin: 15px 0;
}

.accordion-option .title {
    font-size: 20px;
    font-weight: bold;
    float: left;
    padding: 0;
    margin: 0;
}

.accordion-option .toggle-accordion {
    float: right;
    font-size: 16px;
    color: #6a6c6f;
}

.accordion-option .toggle-accordion:before {
    content: "Expand All";
}

.accordion-option .toggle-accordion.active:before {
    content: "Collapse All";
}

.panel-group .panel .panel-heading {
    padding-bottom: 10px !important;
}


/*.tab_images1{
    width: 25px;
    height: 25px;
    position: absolute !important;
    left: 60px;
    display: none;
}*/


/*.nav-link .tab_images1{
    display: block;
}*/


/*.nav-link:hover .tab_images2{
    width: 25px;
    height: 25px;
    position: relative !important;
    margin: auto !important;
    display: block !important;
}*/

.pro_image_tabs1 {
    margin-bottom: 7px !important;
}


/*===============================================
  admin form css 16/8/2018
================================================*/


/*.imgclass:hover .active img{
    background: url(Wallpapers/Personal-informastion1.png) center center;
    height: 25px;
    width: 25px;
}*/

.ul_underline_1 .nav-link {
    padding: 18px 15px;
    text-align: center;
    color: #888;
}

.tab_images123 {
    display: block !important;
    position: absolute !important;
    left: 50px;
}

.imgclass:hover .active123 .tab_images123 {
    display: block !important;
    position: absolute !important;
    left: 60px;
}

.tab_images123:active {
    display: none;
}

.imgclass:hover .tab_images123 {
    display: none !important;
}

.imgclass .active .tab_images123 {
    display: none !important;
}

.imgclass .active:hover .tab_images123 {
    display: none !important;
}

.subject_info_tabs {
    width: 10% !important;
    text-align: center;
}

.subject_info_tabs .nav-link,
a {
    font-size: 14px !important;
}

.sub_check_box {
    font-size: 14px;
}

.data_table1 {
    width: 100px !important;
}


/*===============================================
  admin form css 17/8/2018
================================================*/

.header_model_4 {
    height: 50px;
    position: relative;
    top: 19px;
    left: 15px;
}

.zmdi_close2 {
    position: absolute !important;
    font-size: 18px;
    top: 15px;
    left: -10px;
    color: #757575 !important;
}


/*===============================================
  admin form css 18/8/2018
================================================*/

.search_button29 {
    margin: 8px 0px !important;
    font-size: 14px !important;
    padding: 8px 12px !important;
}


/*===============================================
  admin form css 20/8/2018
================================================*/

.ml-menu .ml-menu li {
    margin-left: 27px !important;
}


/*===============================================
  admin form css 21/8/2018
================================================*/

.from_one2 {
    margin-top: 5px !important;
}


/*===============================================
  admin form css 24/8/2018
================================================*/


/*.sidebar .menu .list .ml-menu li a {
    font-size: 13 !important;
}*/

.edit_page4 {
    color: #fff !important;
    padding: 8px 5px !important;
    font-size: 14px !important;
}


/*===============================================
  admin form css 25/8/2018
================================================*/

.search_button30 {
    margin: 8px 26px !important;
    font-size: 14px !important;
    padding: 10px 22px !important;
}

.search_button31 {
    margin: 8px 0px !important;
    font-size: 14px !important;
    padding: 10px 21px !important;
}

.search_button32 {
    margin: 8px 22px !important;
    font-size: 14px !important;
    padding: 10px 22px !important;
}

.search_button33 {
    margin: 8px 0px !important;
    font-size: 14px !important;
    padding: 10px 29px !important;
}

.search_button34 {
    margin: 8px 22px !important;
    font-size: 14px !important;
    padding: 10px 13px !important;
}


/*===============================================
  admin form css 27/8/2018
================================================*/

.cunpbaordd1 {
    width: 100% !important;
    height: auto !important;
}

.cunpbaordd2 {
    width: 100% !important;
    height: auto !important;
    float: left;
}

.cunpbaordd3 {
    width: 100% !important;
    height: auto !important;
    float: left;
}

.cunpbaordd4 {
    width: 100% !important;
    height: auto !important;
    float: left;
    margin-left: 70px;
    font-weight: 600;
}

.card .body .table td,
.cshelf1 {
    /*width: 100px;*/
    height: auto !important;
}

.cunpbaordShelf1 {
    width: 101% !important;
    height: auto !important;
}

.cunpbaordShelf2 {
    width: 101% !important;
    height: auto !important;
    float: left;
}

.exams1 {
    color: #fff;
}

.exams1:hover {
    color: #fff;
}


/*===============================================
  admin form css 28/8/2018
================================================*/

.regStd1 {
    text-decoration: none;
    color: #424242;
}

.regStd1:hover {
    text-decoration: none;
    color: #424242;
}

.search_button35 {
    margin: 8px 0px !important;
    font-size: 14px !important;
    padding: 10px 10px !important;
}

.search_button36 {
    margin: 8px -12px !important;
    font-size: 14px !important;
    padding: 10px 13px !important;
}


/*===============================================
  admin form css 4/9/2018
================================================*/

.dtp table.dtp-picker-days,
.dtp table.dtp-picker-days tr,
.dtp table.dtp-picker-days tr>td {
    border: none;
    padding: 0px !important;
}

.res_doc_ac1 {
    text-decoration: none;
    color: #454545 !important;
}

.res_doc_ac1:hover {
    text-decoration: none;
    color: #454545 !important;
}

.left_con1 {
    width: 100% !important;
    height: auto !important;
}

.left_con2 {
    float: left !important;
}

.left_con2 h6 {
    font-size: 15px;
    padding-top: 1px;
    margin-top: 10px !important;
    font-weight: 800;
}

.left_con2 small {
    color: #9e9e9e;
    text-transform: capitalize;
    font-size: 13px !important;
}

.left_con3 {
    float: left !important;
}

.fin1 {
    margin-bottom: 10px !important;
}

.search_button37 {
    margin: 8px 0px !important;
    font-size: 14px !important;
    padding: 10px 10px !important;
}

.search_button37 a {
    text-decoration: none;
    color: #fff;
}


/*===============================================
  admin form css 5/9/2018
================================================*/

.table thead .v_notice1 {
    width: 4% !important;
}


/*
.card .body .table td .v_details1 {
    width: 100px !important;
    height: auto !important;
    padding-right: 40px;
}*/

.v_si1 {
    width: 100%;
    min-height: 300px !important;
    height: 300px !important;
    padding: 10px 10px !important;
}


/*===============================================
  admin form css 6/9/2018
================================================*/

.mark_1 {
    margin-left: -10px !important;
}

.c1 {
    border: none;
    margin-left: -11px;
}

.c2 {
    border: none !important;
}

.c3 {
    border: none !important;
}

.b1 {
    padding-left: 0px !important;
}

.b2 {
    padding-left: 0px !important;
}

.b3 {
    padding-left: 0px !important;
}

.profile_detail_bold_3 {
    font-size: 13px;
    font-weight: 600;
    margin-left: 5px !important;
    float: left !important;
}

.profile_detail_span_7 {
    margin-left: 10px !important;
    font-size: 13px;
    float: left !important;
}

.chque1 {
    margin: 4px 0px !important;
}

.check_payment1 {
    width: 100% !important;
}

.check_payment2 {
    float: left;
    width: 28%;
    padding-left: 8px;
    padding-top: 14px;
}

.check_payment3 {
    float: left;
    width: 72%;
    margin-bottom: 5px;
}

.top_counter .icon .side1 {
    font-size: 48px;
    line-height: 50px;
}


/*========   Dashboard css by mahi 10/09/2018  =============  */

.opendiv {
    position: absolute;
    z-index: 99999999;
    right: 5px;
    outline: none;
    border: 0px;
    top: 10px;
    background: transparent;
}

.opendiv button {
    outline: none;
    border: 0px;
    color: #707591;
    background: transparent;
    font-size: 18px !important;
}

.mainopen {
    position: absolute;
    cursor: pointer;
    top: 12px;
    right: 11px;
}

.dashboard_div {
    position: relative;
    padding: 20px 15px;
    width: 100%;
    height: 160px;
    margin-bottom: 25px;
    min-height: 160px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 27px 0px rgba(142, 148, 178, 0.03);
}

.adminmenu ul {
    margin: 0px !important;
    padding: 0px 0px;
}

.adminmenu li {
    display: block;
    text-align: center;
    margin: 8px 0px;
}

.adminmenu ul li img {
    width: 34px;
    height: 34px;
}

.adminmenu ul li span {
    display: block;
    padding-top: 8px;
}

.adminmenu ul li a {
    font-weight: 600 !important;
    color: #707591 !important;
}

.imgdash img {
    width: 40px;
    height: 40px;
}

.imgdash {
    height: 67px;
    width: 67px;
    border-radius: 100%;
    background: #f1f3f6;
    text-align: center;
    float: left;
    padding: 14px;
}

.dashboard_div h4 {
    font-size: 16px;
    margin: 0px;
    padding-top: 0px;
    padding-left: 10px;
    width: 69%;
    float: left;
    font-weight: 500 !important;
    color: #333333;
}

.dashboard_div .cusa {
    margin: 0px auto;
}

.dashboard_div a {
    border-color: rgb(168, 170, 187);
    border-radius: 5px;
    background-color: rgba(112, 117, 145, 0);
    border-style: solid;
    border-width: 1px;
    display: block;
    width: 48%;
    margin: 15px 0px;
    padding: 8px 0px;
    text-align: center;
    color: #707591;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 11px !important;
    font-weight: bold !important;
}

.dashboard_div a i {
    background: #f1f3f6;
    border-radius: 100%;
    padding: 3px 0px;
    height: 17px;
    width: 17px;
    margin-right: 6px;
    font-size: 12px;
    text-align: center;
}

.dashboard_div a:hover {
    background: #1f2f60;
    color: #fff;
    transition: 0.5s;
    cursor: pointer;
}

.dashboard_div a:hover i {
    color: #1f2f60;
}

.tableCell {
    display: table;
}

.insidetable {
    display: table-cell;
    vertical-align: middle;
}

.sidebar .menu .list a:hover {
    color: #1f2f60 !important;
    transition: 0.5s;
    cursor: pointer;
}

.opendiv a {
    display: block;
    background: transparent;
    width: 100%;
    height: auto;
    padding-left: 10px;
    border-radius: 0px !important;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
    border: 0px !important;
    text-align: left !important;
    text-transform: capitalize !important;
    color: #707591 !important;
}

.Academic {
    background: url(../images/Academic.svg) center center no-repeat;
    height: 34px;
    width: 34px;
    display: block;
    margin: 0px auto;
}

.sidebar .menu .list {
    overflow: scroll !important;
    min-height: 700px !important;
}

.sidebar .menu .list::-webkit-scrollbar {
    width: 8px;
}

.sidebar .menu .list::-webkit-scrollbar-track {
    box-shadow: none;
}

.sidebar .menu .list::-webkit-scrollbar-thumb {
    background-color: transparent !important;
}

.sidebar .menu .list:hover::-webkit-scrollbar-thumb {
    background-color: #1f2f60 !important;
}

.adminmenu div span {
    font-weight: bold !important;
    padding-top: 0px !important;
}

.firstdiv {
    background: url(../images/Academic.svg) top 14px center no-repeat;
    display: block;
    margin: 0px auto;
    background-size: 30%;
    padding-top: 41%;
}

.firstdiv:hover {
    background: url(../images/Academic1.svg) top 14px center no-repeat;
    display: block;
    margin: 0px auto;
    background-size: 30%;
    padding-top: 41%;
    cursor: pointer;
}

.firstdiv3 {
    background: url(../images/Student.svg) top 14px center no-repeat;
    display: block;
    margin: 0px auto;
    background-size: 30%;
    padding-top: 41%;
}

.firstdiv3:hover {
    background: url(../images/Student1.svg) top 14px center no-repeat;
    display: block;
    margin: 0px auto;
    background-size: 30%;
    padding-top: 41%;
    cursor: pointer;
}

.firstdiv4 {
    background: url(../images/Staff.svg) top 14px center no-repeat;
    display: block;
    margin: 0px auto;
    background-size: 30%;
    padding-top: 41%;
}

.firstdiv4:hover {
    background: url(../images/Staff1.svg) top 14px center no-repeat;
    display: block;
    margin: 0px auto;
    background-size: 30%;
    padding-top: 41%;
    cursor: pointer;
}

.firstdiv5 {
    background: url(../images/Recruitment.svg) top 14px center no-repeat;
    display: block;
    margin: 0px auto;
    background-size: 30%;
    padding-top: 41%;
}

.firstdiv5:hover {
    background: url(../images/Recruitment1.svg) top 14px center no-repeat;
    display: block;
    margin: 0px auto;
    background-size: 30%;
    padding-top: 41%;
    cursor: pointer;
}

.firstdiv6 {
    background: url(../images/Examination.svg) top 14px center no-repeat;
    display: block;
    margin: 0px auto;
    background-size: 30%;
    padding-top: 41%;
}

.firstdiv6:hover {
    background: url(../images/Examination1.svg) top 14px center no-repeat;
    display: block;
    margin: 0px auto;
    background-size: 30%;
    padding-top: 41%;
    cursor: pointer;
}

.firstdiv7 {
    background: url(../images/FeesCollection.svg) top 14px center no-repeat;
    display: block;
    margin: 0px auto;
    background-size: 30%;
    padding-top: 41%;
}

.firstdiv7:hover {
    background: url(../images/FeesCollection1.svg) top 14px center no-repeat;
    display: block;
    margin: 0px auto;
    background-size: 30%;
    padding-top: 41%;
    cursor: pointer;
}

.firstdiv8 {
    background: url(../images/Staff.svg) top 14px center no-repeat;
    display: block;
    margin: 0px auto;
    background-size: 30%;
    padding-top: 41%;
}

.firstdiv8:hover {
    background: url(../images/Staff1.svg) top 14px center no-repeat;
    display: block;
    margin: 0px auto;
    background-size: 30%;
    padding-top: 41%;
    cursor: pointer;
}

.firstdiv9 {
    background: url(../images/Hostel.svg) top 14px center no-repeat;
    display: block;
    margin: 0px auto;
    background-size: 30%;
    padding-top: 41%;
}

.firstdiv9:hover {
    background: url(../images/Hostel1.svg) top 14px center no-repeat;
    display: block;
    margin: 0px auto;
    background-size: 30%;
    padding-top: 41%;
    cursor: pointer;
}

.firstdiv10 {
    background: url(../images/Library.svg) top 14px center no-repeat;
    display: block;
    margin: 0px auto;
    background-size: 30%;
    padding-top: 41%;
}

.firstdiv10:hover {
    background: url(../images/Library1.svg) top 14px center no-repeat;
    display: block;
    margin: 0px auto;
    background-size: 30%;
    padding-top: 41%;
    cursor: pointer;
}

.firstdiv11 {
    background: url(../images/Transport.svg) top 14px center no-repeat;
    display: block;
    margin: 0px auto;
    background-size: 30%;
    padding-top: 41%;
}

.firstdiv11:hover {
    background: url(../images/Transport1.svg) top 14px center no-repeat;
    display: block;
    margin: 0px auto;
    background-size: 30%;
    padding-top: 41%;
    cursor: pointer;
}

.firstdiv12 {
    background: url(../images/Visitor.svg) top 14px center no-repeat;
    display: block;
    margin: 0px auto;
    background-size: 30%;
    padding-top: 41%;
}

.firstdiv12:hover {
    background: url(../images/Visitor1.svg) top 14px center no-repeat;
    display: block;
    margin: 0px auto;
    background-size: 30%;
    padding-top: 41%;
    cursor: pointer;
}

.firstdiv13 {
    background: url(../images/Noticeboard.svg) top 14px center no-repeat;
    display: block;
    margin: 0px auto;
    background-size: 30%;
    padding-top: 41%;
}

.firstdiv13:hover {
    background: url(../images/Noticeboard1.svg) top 14px center no-repeat;
    display: block;
    margin: 0px auto;
    background-size: 30%;
    padding-top: 41%;
    cursor: pointer;
}

.firstdiv14 {
    background: url(../images/TaskManager.svg) top 14px center no-repeat;
    display: block;
    margin: 0px auto;
    background-size: 30%;
    padding-top: 41%;
}

.firstdiv14:hover {
    background: url(../images/TaskManager1.svg) top 14px center no-repeat;
    display: block;
    margin: 0px auto;
    background-size: 30%;
    padding-top: 41%;
    cursor: pointer;
}

.firstdiv15 {
    background: url(../images/ThemeOptions.svg) top 14px center no-repeat;
    display: block;
    margin: 0px auto;
    background-size: 30%;
    padding-top: 41%;
}

.firstdiv15:hover {
    background: url(../images/ThemeOptions1.svg) top 14px center no-repeat;
    display: block;
    margin: 0px auto;
    background-size: 30%;
    padding-top: 41%;
    cursor: pointer;
}

.firstdiv16 {
    background: url(../images/Visitor.svg) top 14px center no-repeat;
    display: block;
    margin: 0px auto;
    background-size: 30%;
    padding-top: 41%;
}

.firstdiv16:hover {
    background: url(../images/Visitor1.svg) top 14px center no-repeat;
    display: block;
    margin: 0px auto;
    background-size: 30%;
    padding-top: 41%;
    cursor: pointer;
}

.firstdiv17 {
    background: url(../images/Componets.svg) top 14px center no-repeat;
    display: block;
    margin: 0px auto;
    background-size: 30%;
    padding-top: 41%;
}

.firstdiv17:hover {
    background: url(../images/Componets1.svg) top 14px center no-repeat;
    display: block;
    margin: 0px auto;
    background-size: 30%;
    padding-top: 41%;
    cursor: pointer;
}

.firstdiv18 {
    background: url(../images/Extra.svg) top 14px center no-repeat;
    display: block;
    margin: 0px auto;
    background-size: 30%;
    padding-top: 41%;
}

.firstdiv18:hover {
    background: url(../images/Extra1.svg) top 14px center no-repeat;
    display: block;
    margin: 0px auto;
    background-size: 30%;
    padding-top: 41%;
    cursor: pointer;
}

.firstdiv12 {
    background: url(../images/Configuration1.svg) top 14px center no-repeat;
    display: block;
    margin: 0px auto;
    background-size: 30%;
    padding-top: 41%;
}

.firstdiv12:hover {
    background: url(../images/Configuration.svg) top 14px center no-repeat;
    display: block;
    margin: 0px auto;
    background-size: 30%;
    padding-top: 41%;
    cursor: pointer;
}

.adminmenu {
    padding-bottom: 0px;
}

/*.breadcrumb-item:nth-child(2) {
    color: #fff;
    text-decoration: underline !important;
}

.breadcrumb-item:nth-child(3) {
    color: #fff;
    text-decoration: underline !important;
}*/

.profile_detail_3 label {
    font-size: 15px;
}

.profile_detail_3 label span {
    font-weight: 600;
}

.profile_detail_3 i {
    margin-right: 10px;
}

.sidebar .menu .list a {
    border-left: 2px solid transparent;
}

/*.sidebar .menu .list a:hover {
    border-left: 2px solid #1f2f60;
    transition: 0.5s;
    cursor: pointer;
    background: #f5f7f9;
}*/
.sidebar .menu .list li:hover {
    /*border-left: 2px solid #1f2f60;*/
    transition: 0.5s;
    cursor: pointer;
    background: #f5f7f9;
}

.adminmenu li {
    padding: 10px 0px;
}

.adminmenu ul a.active {
    background: red !important;
}

.feecounterclass img {
    height: 100px;
    float: left;
    margin-bottom: 10px;
}

.feecounterclass label {
    display: block;
    width: 100%;
    line-height: 18px;
}

.tablefee table tr td b {
    font-weight: 600 !important;
}

#customid label::before,
#customid label::after {
    top: 0px !important;
}

.tablefee .checkbox label::before,
.checkbox label::after {
    width: 19px;
    height: 19px;
    left: 0;
    cursor: pointer;
    border-radius: 3px;
    background-color: transparent;
    border: 1px solid #1f2f60;
    top: -14px;
}

.tablefee label {
    line-height: 19px;
}

.bootstrap-select>.dropdown-toggle.bs-placeholder,
.bootstrap-select>.dropdown-toggle.bs-placeholder:hover,
.bootstrap-select>.dropdown-toggle.bs-placeholder:focus,
.bootstrap-select>.dropdown-toggle.bs-placeholder:active {
    border-radius: 5px !important;
}

.form-control {
    border-radius: 5px;
}

.btn-round.btn-simple {
    border-radius: 5px !important;
}

textarea.tablefee {
    border: 1px solid #1f2f60 !important;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    width: 150px !important;
    margin: 0px auto;
}

.tablefee button {
    width: 100%;
}

.tablefee .checkbox,
.radio {
    margin-bottom: 0px;
}

.form-control input {
    border: 1px solid #1f2f60;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    width: 150px !important;
    margin: 0px auto;
}

.form-control:focus {
    /*border: 1px solid red !important;*/
}

.tablefee .form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #424242;
}

.tablefee .form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: #424242;
}

.tablefee .form-control:-ms-input-placeholder {
    /* IE 10+ */
    color: #424242;
}

.tablefee .form-control:-moz-placeholder {
    /* Firefox 18- */
    color: #424242;
}

#table-wrapper {
    position: relative;
}

#table-scroll {
    height: 260px;
    overflow: auto;
    margin-top: 20px;
}

#table-wrapper table {
    width: 100%;
}

#table-wrapper table thead th .text {
    position: absolute;
    top: -20px;
    z-index: 2;
    height: 100px;
    width: 35%;
    border: 1px solid red;
}

#bodypadd .card .body {
    padding-top: 0px !important;
}

.padding-left-0 {
    padding-left: 0px;
}

.headingcommon {
    font-size: 13px;
    color: #1f2f60;
    font-weight: 800;
    text-transform: uppercase;
    padding: 15px 15px;
}

.headingcommon h4 {
    margin: 0px;
    padding: 0px;
    padding-top: 10px;
    font-size: 13px;
    color: #1f2f60;
    font-weight: 800;
    text-transform: uppercase;
}

.input_fields_wrap {
    width: 100%;
}

.input_fields_wrap {
    margin: 0px 0px !important;
    padding: 0px 15px;
}

.input_fields_wrap .btn-danger {
    width: 14% !important;
    float: right;
    margin: 21px 0px !important;
    padding: 10px 0px !important;
    text-align: center;
}

.padding0 {
    padding: 0px 0px !important;
}

.add_field_button:focus {
    background: #1f2f60 !important;
}

.add_field_button {
    margin-top: 21px;
}

.commclass h4 {
    margin: 0px !important;
    padding-bottom: 10px !important;
    font-size: 15px;
}

#sectiontable-body {
    width: 100%;
    padding: 0px 15px;
}

.fixedclass {
    width: 100% !important;
    padding-left: 15px;
}

.fixedclass button {
    width: 100%;
    margin-top: 20px;
}

#sectiontable-body .btn-primary {
    margin-top: 20px !important;
    width: 84%;
}

.remove_field {}

.checkboxcustom {
    padding-top: 26px;
}

.checkboxcustom .checkbox label::before,
.checkbox label::after {
    width: 26px;
    height: 26px;
    top: 0px;
}

.submitbtn {
    width: 158px;
    font-size: 14px;
    text-transform: uppercase;
}

#sectiontable-body button {
    font-size: 16px;
}

#sectiontable-body i {
    margin-top: 0px;
    font-size: 15px;
}

.seprateclass button {
    /*padding: 6px 18px !important;*/
    /*margin-top: 21px !important;*/
    /*background: green !important;*/
}

/*.seprateclass button:focus {
    background: green !important;
}*/

.seprateclass .btn-danger {
    padding: 6px 18px !important;
    background: red !important;
}
.searchBtn{
    width: 100% !important;
    margin-top: 21px;
}
.tabless table{
    margin: 20px 15px;
}
.tabless table button{
    padding: 8px 5px;
    text-align: center;
    font-size: 11px;
}
.tabless table  tr td{
    padding: 3px 10px;
    font-size: 14px;
}
.tabless table th{
    cursor: pointer;
}
.pagination {
    margin-top: 20px !important;
}
.paddingtopclass{
    padding-top: 29px;
    font-size: 13px;
}
.tabless table  tr td img{
    margin-right: 5px !important;
}

.tabless table  tr td .opendiv{
    position: static !important;
}
.tabless table  tr td .opendiv button{
    width: 100% !important;
    font-size: 13px !important;
    padding: 8px 20px !important;
    background: red !important;
    color: #fff !important;
}
.tabless table  tr td .opendiv ul li{
    padding: 10px 10px !important;
}
#exampleModalCenter{
    padding: 0px 0px !important;
}
.tabless table  tr td .linkTag{
    padding: 8px 5px;
    text-align: center;
    font-size: 11px !important;
    width: 103px;
    height: 30px;
}
.opendiv .dropdown-menu{
    min-width: 200px !important;
}
#searchpanel{
    padding-top: 20px;
    padding-left: 15px;
}
.actinvtnn{
    color: #1f2f60 !important

}
.actinvtnn:focus{
    background: transparent;
    outline: none;
}
.actinvtnn:hover{
    box-shadow: none;
    background: transparent;
    outline: none;
}
/*.footable .dropdown-menu{
    display: block !important;
}*/

#tableCutm {
    margin-top: 20px;
}
#tableCutm tr td{
    padding: 10px 10px !important;
    font-size: 15px !important;

}
#tableCutm  .checkbox label::before, .checkbox label::after{
    height: 19px !important;
    width: 19px !important
}
#tableCutm textarea{
    border-radius: 5px;
}
#tablche .checkbox label::before, .checkbox label::after{
    height: 19px !important;
    width: 19px !important
}
.slimScrollDiv{
    overflow: inherit !important;
}